html, body {
  background-color: #666;
  color: #eee;
  font-family: 'Lato';
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h1 > span {
    color: #000;
    font-weight: 400;
    font-size: 0.5em;
}